
// Body
$body-bg: #f8fafc;

// Typography
$family-sans-serif: Lato, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white-ter:	hsl(0, 0%, 96%);
$turquoise: #0fbe7c;

// Body
$body-background-color: $white-ter;
